.container {
  width: 80%;
  max-height: 600px;
  margin: 50px;
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(#1C1B20 0%, #323037 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 40px;
}

.title {
  margin-bottom: 20px;
  display: inline;
  max-width: 420px;
}

.bold {
  font-weight: bold;
  display: inline;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 20px;
}

.subtitle {
  margin-right: 20px;
  background: linear-gradient(-144deg, rgba(217,176,119,1) 0%, rgba(241,225,181,1) 48%, rgba(217,176,119,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}