.container {
  width: 100%;
  max-width: 350px;
  max-height: 620px;
  border-radius: 16px;
  background-color: #fafafa;
  color: #373636;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
}

.logo {
  position: absolute;
  top: 20px;
  right: 20px;
}

.text {
  padding: 20px;
  display: inline;
}

.bold {
  font-weight: bold;
  display: inline;
}

.imagedesk {
  display: none;
}

@media (min-width: 960px) {
 .container {
  grid-column: 3 / 4;
  flex-direction: row;
  max-width: none;
  max-height: none;
 }

 .image {
  display: none;
 }

 .imagedesk {
  display: inline;
  max-height: 200px;
  border-radius: 16px;
 }

 .logo {
  top: auto;
  bottom: 5px;
 }
}