.container {
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.imagemob {
  width: 100%;
  height: auto;
  max-width: 500px;
}

.imagedesk {
  display: none;
}

.imagemob2 {
  display: none;
}

@media (min-width: 500px) {
  .imagemob {
    display: none;
  }

  .imagemob2 {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) {
  .imagemob2 {
    display: none;
  }

  .imagedesk {
    display: block;
    width: 100%;
    height: auto;
  }
}