.container {
  width: 100%;
  background: linear-gradient(#1C1B20 0%, #323037 100%);
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 500px;
}

.text {
  max-width: 272px;
  margin-bottom: 10px;
  font-family: Stolz;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

.logo {
  margin: 10px 0;
}

.links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 60px;
  cursor: pointer;
}

.image {
  width: 150px;
  height: 103px;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    max-width: none;
    justify-content: space-between;
    align-items: center;
  }
  
  .links {
    margin-top: 20px;
    gap: 12px;
  }
}