.container {
  width: 100%;
  height: auto;
  aspect-ratio: 1/ 1;
  box-sizing: border-box;
  border-collapse: collapse;
  border: 1px solid #F2F4F3;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:active {
  background: linear-gradient(#E26E70 0%, #A61337 100%);
  color: #fff;
}

.fulldate {
  display: none;

}

.calculation {
  display: none;
}

@media (min-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: start;
    border: none;
  }

  .date {
    display: none;
  }

  .fulldate {
    display: inline;
    background-color: #F3EBDD;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 0;
  }
  
  .calculation {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: auto;
  }
}