.container {
  width: 100%;
  height: auto;
  aspect-ratio: 1/ 1;
  box-sizing: border-box;
  border-collapse: collapse;
  border: 1px solid #F2F4F3;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:active {
  background: linear-gradient(#E26E70 0%, #A61337 100%);
  color: #fff;
}

.fulldate {
  display: none;
  font-family: Stolz;
  font-weight: 400;
  font-size: 14px;
}

.calculation {
  display: none;
  font-family: Stolz;
  font-weight: 400;
  font-size: 12px;
}

.date {
  font-family: Stolz;
  font-weight: 300;
  font-size: 16px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: start;
    border: none;
  }

  .date {
    display: none;
  }

  .fulldate {
    display: inline;
    background-color: #F3EBDD;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 0;
  }
  
  .calculation {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: auto;
    gap: 5px;
  }

  .calculation .calcvalue:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  .calculation .calcvalue:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }
  .calculation .calcvalue:nth-child(3) {
    grid-area: 1 / 5 / 2 / 6;
  }
  .calculation .calcvalue:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
  }
  .calculation .calcvalue:nth-child(5) {
    grid-area: 2 / 4 / 3 / 5;
  }
  .calculation .calcvalue:nth-child(6) {
    grid-area: 3 / 3 / 4 / 4;
  }
}