.button {
  width: 300px;
  height: 80px;
  padding: 32px 0;
  margin: 0 10px 0 10px;
  border-radius: 14px;
  color: #373636;
  text-align: center;
  cursor: pointer;
  border: 1px solid #373636;
  background-color: #fff;
}

.unselected{
  background: 
  linear-gradient(#FAFAFA 0 0) padding-box,
  linear-gradient(-144deg, rgba(217,176,119,1) 0%, rgba(241,225,181,1) 48%, rgba(217,176,119,1) 100%) border-box;
  border: 1px solid transparent;
}

.selected {
  background: linear-gradient(-144deg, rgba(217,176,119,1) 0%, rgba(241,225,181,1) 48%, rgba(217,176,119,1) 100%);
  border: none;
}

.calculate {
  margin-top: 50px;
  background-color: #E7E7E7;
  color: #a3a3a3;
  border: none;
}

@media (max-width: 400px) {
  .button {
    max-width: 90%;
  }
}